.remember-me-box{
    -fx-text-font-family: "Inter 24pt SemiBold";
    src:url("/edu/tangingina/thebackroom/assets/Lander's Used Fonts/Inter_24pt-SemiBold.ttf");
    -fx-text-fill: black;
    -fx-font-size: 15;
}

.remember-me-box > .box {
    -fx-background-color: white;
    -fx-background-radius: 7px;
    -fx-border-color:  rgba(139, 46, 46, 1);
    -fx-border-radius: 7px;
}

/*This is for when the box is selected*/
.remember-me-box:selected > .box > .mark {
    -fx-background-color:  rgba(139, 46, 46, 1);
}