.home-background {
    -fx-background-color: #E6E2D7
}

.image-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, #EED0AC, 10, 0, 0, 4);
}

.image-button:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

/* TEXT AREA STYLE

*/

/* LOGIN PAGE STYLE
    Contains:

*/

.login-input {
    -fx-background-color: white;
    -fx-background-radius: 5;
    -fx-border-color: null;
    -fx-border-width: 0 0 5 0;
    -fx-padding: 10;
    -fx-font-family: "Reddit Sans Condensed";
    -fx-font-size: 15px;
    -fx-effect: dropshadow(three-pass-box, #EED0AC, 10, 0, 0, 4);
}

.btn-guest {
    -fx-background-color: transparent;
    -fx-text-fill: #8B2E2E;
    -fx-padding: 0 8 0 8;
    -fx-cursor: hand;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.btn-guest:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

.dialog-pane.custom-alert {
    -fx-background-color: #D07A2D;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-padding: 18;
}

.dialog-pane.custom-alert > .content.label {
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

.dialog-pane.custom-alert:header .header-panel {
    -fx-background-color: transparent;
}

.dialog-pane.custom-alert:header .header-panel .label {
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.dialog-pane.custom-alert .graphic-container {
    -fx-padding: 0;
}

/* MAIN MENU STYLING
    Contains:
       - button styling for dashboard

*/
.search-button {
    -fx-background-color: white;
    -fx-background-radius: 12;
    -fx-border-radius: 12;
    -fx-text-fill: #8a8a8a;
    -fx-font-size: 14px;
    -fx-padding: 8 18 8 18;
    -fx-cursor: hand;
}

.search-button:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

.textfield-title {
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-font-family: "Reddit Bold";
    -fx-text-fill: #305852;
}


.profile-button {
    -fx-background-radius: 1000;
    -fx-pref-width: 32px;
    -fx-pref-height: 32px;
    -fx-min-width: 32px;
    -fx-min-height: 32px;
    -fx-max-heigh: 32px;
    -fx-min-width: 32px;
    -fx-background-color: #B83A2D;
    -fx-padding: 0;
}

.profile-button:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

.btn-primary {
    -fx-background-color: transparent;
    -fx-font-family: "Reddit Sans Condensed";
    -fx-text-fill: #305852;
    -fx-font-size: 27px;
    -fx-font-weight: bold;
    -fx-padding: 0 8 0 8;
    -fx-cursor: hand;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.btn-primary:hover {
    -fx-text-fill: #642225;
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

/* ADD ARCHIVE STYLING
    Contains styling for:
        - beige inner cards
        - vertical scroll bars

*/

.card-bkg {
    -fx-background-color: #305852;
}

.card-inner {
    -fx-background-color: #F2E4D3;
    -fx-padding: 40;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(gaussian, #1C3E39, 15, 0, 0, 0);
}

.input-holder {
    -fx-background-color: transparent;
    -fx-background: transparent;
    -fx-border-color: transparent;
}

.input-holder .scroll-bar:vertical {
    -fx-background- color: transparent;
}

.header-text {
    -fx-text-fill: #9E3D3D;
    -fx-padding: 0 0 20 0;
}

/* SIGN UP PAGE STYLING
    Contains:
        - check box styling
*/

/*font stuff*/
@font-face {
    font-family: 'Reddit Sans Semi Bold';
    source: url('/assets/RedditSansCondensed-SemiBold.ttf');
}
@font-face {
    font-family: "Reddit Extra";
    source: url('edu/tangingina/thebackroom/assets/RedditSansCondensed-ExtraBold.ttf');
}

