.home-background {
    -fx-background-color: #E6E2D7
}

.image-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, #EED0AC, 10, 0, 0, 4);
}

.image-button:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

.remember-me-box{
    -fx-text-font-family: "Inter 24pt SemiBold";
    src:url("/edu/tangingina/thebackroom/assets/Lander's Used Fonts/Inter_24pt-SemiBold.ttf");
    -fx-text-fill: black;
    -fx-font-size: 15;
    -fx-max-width: infinity;
    -fx-alignment: CENTER_LEFT;
}

.remember-me-box > .box {
    -fx-background-color: white;
    -fx-background-radius: 7px;
    -fx-border-color:  rgba(139, 46, 46, 1);
    -fx-border-radius: 7px;
}

/*This is for when the box is selected*/
.remember-me-box:selected > .box > .mark {
    -fx-background-color:  rgba(139, 46, 46, 1);
}

/*
    ========== LOGIN PAGE STYLE ==========
        Contains:

*/

.login-input {
    -fx-background-color: #FFFAFA;
    -fx-background-radius: 5;
    -fx-border-color: null;
    -fx-padding: 10;
    -fx-font-size: 15px;
    -fx-effect: dropshadow(three-pass-box, #EED0AC, 10, 0, 0, 4);
}

.login-input-error {
    -fx-background-color: #FFFAFA;
    -fx-background-radius: 5;
    -fx-border-color: #D27E31;
    -fx-border-radius: 5;
    -fx-padding: 10;
    -fx-font-size: 15px;
    -fx-effect: dropshadow(three-pass-box, #D27E31, 10, 0, 0, 4);
}

.btn-guest {
    -fx-background-color: transparent;
    -fx-text-fill: #8B2E2E;
    -fx-padding: 0 8 0 8;
    -fx-cursor: hand;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.btn-guest:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

/*
========== ADD ARCHIVE STYLING ==========
    Contains styling for:
        - beige inner cards
        - vertical scroll bars
        - input field
        - input field label
        - errors
*/

.card-bkg {
    -fx-background-color: #305852;
}

.card-inner {
    -fx-background-color: #F2E4D3;
    -fx-padding: 40;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(gaussian, #000000, 15, 0, 0, 0);
}

.input-holder {
    -fx-background-color: transparent;
    -fx-background: transparent;
    -fx-border-color: transparent;
}

.input-holder .scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-pref-width: 14; /* Match our chunky thickness */
    -fx-opacity: 0.1;   /* Ghostly by default */
}

/* 2. Show only when moving the mouse over the form */
.input-holder:hover .scroll-bar:vertical {
    -fx-opacity: 0.6;
}

.input-holder .scroll-bar:vertical:hover {
    -fx-opacity: 1.0;
}

/* 3. The Chunky Pill Thumb */
.input-holder .scroll-bar:vertical .thumb {
    -fx-background-color: #D2B48C; /* Tan/Beige pill */
    -fx-background-radius: 15;
    -fx-background-insets: 2;

    /* Fixed Height logic so it looks exactly like your reference photo */
    -fx-min-height: 100;
    -fx-max-height: 100;
}

/* 4. Feedback when clicking */
.input-holder .scroll-bar:vertical .thumb:pressed {
    -fx-background-color: #B83A2D; /* Red pop */
}

/* 5. Nuking the ugly arrow buttons again */
.input-holder .scroll-bar .increment-button,
.input-holder .scroll-bar .decrement-button {
    -fx-padding: 0;
    -fx-background-color: transparent;
}

.input-holder .scroll-bar .increment-arrow,
.input-holder .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}

.input-label {
    -fx-text-fill: #000000;
}

.header-text {
    -fx-text-fill: #BB443C;
    -fx-padding: 0 0 20 0;
}

.input-field, .input-chip{
    -fx-background-radius: 10;
    -fx-background-color: #FFFAFA;
    -fx-padding: 6 10 6 10;
    -fx-effect: dropshadow(gaussian, #EED0AC, 15, 0, 0, 0);
}

.combo-box{
    -fx-background-radius: 10;
    -fx-font-size: 14px;
    -fx-background-color: #FFFAFA;
    -fx-padding: 6 10 6 10;
    -fx-effect: dropshadow(gaussian, #EED0AC, 15, 0, 0, 0);
}

.input-field-error {
    -fx-text-fill: #000000;
    -fx-background-radius: 10;
    -fx-background-color: #FFFAFA;
    -fx-padding: 6 10 6 10;
    -fx-effect: dropshadow(gaussian, #D27E31, 15, 0, 0, 0);
    -fx-border-color: #D27E31;
    -fx-border-radius: 10;
}

.image-preview-box {
    -fx-background-color: rgba(255, 255, 255, 0.08);
    -fx-background-radius: 12;
    -fx-border-color: rgba(255, 255, 255, 0.25);
    -fx-border-radius: 12;
    -fx-border-width: 1.5;
    -fx-padding: 8;
}

.form-button {
    -fx-background-color: transparent;
    -fx-text-fill: #741B1B;
    -fx-cursor: hand;
}

.form-button:hover {
    -fx-background-color: #444444;
}

/* SIGN UP PAGE STYLING
    Contains:
        - check box styling
*/


/*
========== DASHBOARD STYLING ==========
        Contains styling for the ff:
            - dashboard bkg
            - navigation bar styling
            - widget styling
            - dashboard styling
            - big logo styling
*/
.main-content-bkg {
    -fx-background-color: #F2E4D3;
}

.dashboard-home {
    -fx-padding: 45 90 70 90;
    -fx-spacing: 55;
}

.dashboard-scroll, .dashboard-scroll:focused {
    -fx-background-color: transparent;
    -fx-background-inserts: 0;
    -fx-padding: 0;
}

.dashboard-scroll:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.dashboard-scroll > .viewport {
    -fx-background-color: transparent;
}

.dashboard-scroll .scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-pref-width: 14;
    -fx-opacity: 0.1;
}

.dashboard-scroll:hover .scroll-bar:vertical {
    -fx-opacity: 0.6;
}

.dashboard-scroll .scroll-bar:vertical:hover {
    -fx-opacity: 1.0;
}

.dashboard-scroll .scroll-bar:vertical .thumb {
    -fx-background-color: #D2B48C;
    -fx-background-radius: 15;
    -fx-background-insets: 2 2 2 2;
    -fx-pref-height: 25;
    -fx-min-height: 25;
    -fx-max-height: 25;
}

.dashboard-scroll .scroll-bar:vertical .thumb:hover,
.dashboard-scroll .scroll-bar:vertical .thumb:pressed {
    -fx-background-color: #B83A2D;
}

.dashboard-scroll .scroll-bar:vertical .track {
    -fx-background-color: transparent;
}

.dashboard-scroll .scroll-bar .increment-button,
.dashboard-scroll .scroll-bar .decrement-button {
    -fx-padding: 0;
    -fx-background-color: transparent;
}

.dashboard-scroll .scroll-bar .increment-arrow,
.dashboard-scroll .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}

.logo {
    -fx-background-color: transparent;
}

.media-section {
    -fx-spacing: 25;
    -fx-max-width: 1180;
}

.media-section-title {
       -fx-text-fill: #3B3A3A;
}

.media-card-holder {
    -fx-alignment: center-left;
}

/*.noise-overlay {
    -fx-background-color:
}*/

/*=========== MAVIGATION BAR =========== */

.nav-bar {
    -fx-background-color: #F7E1C6;
    -fx-effect: dropshadow(gaussian, #E0B583, 28, 0.18, 0, 5);
    -fx-border-width: 0 0 1 0
}

.nav-btn {
    -fx-text-fill: #305852;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 6 10 6 10;
    -fx-cursor: hand;
}

.nav-btn:hover {
    -fx-text-fill: #B83A2D;
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
    -fx-background-color: transparent;
}

.nav-btn:pressed {
    -fx-text-fill: #B83A2D;
    -fx-background-color: transparent;
}

.nav-btn-active {
    -fx-text-fill: #B83A2D;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 6 10 6 10;
    -fx-cursor: hand;
}

.search-btn {
    -fx-background-color: white;
    -fx-background-radius: 12;
    -fx-border-radius: 12;
    -fx-text-fill: #8a8a8a;
    -fx-font-size: 14px;
    -fx-padding: 8 18 8 18;
    -fx-cursor: hand;
}

.search-button:pressed, .profile-circle:hover, .profile-circle:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

/*===== DROP DOWN MENU ===========*/

.profile-circle {
    -fx-fill: #637991;
    -fx-cursor: hand;
}

.nav-dropdown {
    -fx-background-color: white;
    -fx-background-radius: 5;
    -fx-padding: 12 0 12 0;
    -fx-pref-width: 100px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.28), 10, 0.2, 0, 4);
}

.dropdown-btn {
    -fx-text-fill: black;
}

.dropdown-btn:focused {
    -fx-background-color: transparent;
}

.dropdown-btn:hover {
    -fx-background-color: #F7E1C6;
    -fx-cursor: hand;
}

.dropdown-btn .label {
    -fx-text-fill: #305852;
}


/* ========== CARD COVER ==========
*/

.card-layout {
    -fx-pref-width: 150;
    -fx-pref-height: 225;
}

.cards {
    -fx-effect:
        dropshadow(gaussian, rgba(0,0,0,0.35), 6, 0.2, 0, 3),
        dropshadow(gaussian, rgba(0,0,0,0.22), 16, 0.2, 0, 10),
        dropshadow(gaussian, rgba(0,0,0,0.15), 28, 0.2, 0, 20);
}

.cards:hover {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

.cards {
-fx-pref-width: 120;
    -fx-pref-height: 180;
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-effect: dropshadow(gaussian, #EED0AC, 16, 0.2, 0, 6);
}

.cards:hover {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

.cards-static {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-effect: dropshadow(gaussian, #EED0AC, 16, 0.2, 0, 6);
}

.card-alt-static {
    -fx-background-color: #8B2E2E;
    -fx-alignment: center;
    -fx-padding: 10;
}

/*alternative cards */
.card-alt {
    -fx-pref-width: 120;
    -fx-pref-height: 180;
    -fx-background-color: #8B2E2E;
    -fx-alignment: center;
    -fx-padding: 10;
}

.cards-alt:hover {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

.card-alt-text {
    -fx-text-fill: #D9D4C8;
    -fx-alignment: center;
}

/*  IMPORT ARCHIVE STYL
*/
.light-bkg {
    -fx-background-color: #F2E4D3;
}

/* ========== Media Details Page ==========*/
.detail-page {
    -fx-padding: 65 0 90 0;
    -fx-background-color: transparent;
}

.detail-card {
    -fx-background-color: rgba(130, 165, 160, 0.15);
    -fx-background-radius: 14;
    -fx-padding: 50 60 60 55;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.08), 18, 0.2, 0, 4);
}

.content-layout {
    -fx-padding: 5 0 0 0;
}

.action-bar {
    -fx-padding: 0 0 8 0;
}

.media-details-box {
    -fx-padding: 22 0 0 0;
}

.media-divider {
    -fx-min-height: 2;
    -fx-pref-height: 2;
    -fx-max-height: 2;
    -fx-background-color: rgba(30, 30, 30, 0.45);
    -fx-pref-width: 650;
    -fx-padding: 0 5 0 5;
}

.media-no-input {
    -fx-text-fill: #888888;
}

/* --- Initialization Window --- */
.setup-root {
    -fx-background-color: #E6E2D7;
}

.setup-title {
    -fx-text-fill: rgba(139, 46, 46, 1);
    -fx-padding: 0 0 5 0;
}

.setup-title-success {
    -fx-text-fill: #2B3A32;
    -fx-padding: 0 0 5 0;
}

.setup-subtitle {
    -fx-text-fill: #4A4A4A;
    -fx-text-alignment: center;
    -fx-line-spacing: 5px;
    -fx-padding: 5 15 15 15;
}

.setup-field {
    -fx-background-color: #FAFAFA;
    -fx-text-fill: #111111;
    -fx-prompt-text-fill: #888888;
    -fx-padding: 14px;
    -fx-background-radius: 7px;
    -fx-border-color: rgba(139, 46, 46, 0.8);
    -fx-border-radius: 7px;
    -fx-border-width: 1px;
    -fx-max-width: 350px;
}

.setup-field:focused {
    -fx-border-width: 2px;
    -fx-border-color: rgba(139, 46, 46, 1);
}

.setup-btn-dark-academia {
    -fx-background-color: #2B3A32;
    -fx-text-fill: #E6E2D7;
    -fx-padding: 14px 30px;
    -fx-background-radius: 6px;
    -fx-cursor: hand;
    -fx-pref-width: 240px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.15), 6, 0, 0, 3);
}

.setup-btn-dark-academia:hover {
    -fx-background-color: #1F2A24;
}

.setup-status {
    -fx-padding: 5 0 0 0;
}

.setup-dialog-pane {
    -fx-background-color: #F7F5EF;
    -fx-border-color: rgba(139, 46, 46, 0.4);
    -fx-border-width: 1px;
    -fx-border-radius: 12px;
    -fx-background-radius: 12px;
    -fx-padding: 40px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.25), 25, 0, 0, 8);
    -fx-max-width: 500px;
}